.contain {
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(254, 201, 227, 0.3) no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  height: auto;
}
.card {
  margin: 20px;
  width: 25%;
}

img {
  width: 50%;
  height: 50%;
}


.text {
  color: green;
} 