.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: center;
  align-self: center;
}

.form-box {
  width: 90%;
}

.form-header {
  align-items: center;
  text-align: center;
  width: 60%;
  color: #FF385C;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  color: #b0b0c0;
}

.form-input {
  border: none;
  background-color: #ffffff;
  border-radius: 5rem;
  padding: 1.2rem;
  margin-top: 2%;
}

.form-input:focus {
  outline: none;
}

.search-btn {
  width: 100%;
  padding: 2% 3%;
  background-color: #ff385c;
  color: #ffffff;
}

.form-error {
  color: red;
  margin: 2%;
}
