.results__btn {
  background-color: #ffffff;
  color: #ff385c;
  height:3rem;
  width:12rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  flex-direction: row;
}


