.share-form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.share-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    color: #B0B0C0;
}

.share-form-input {
    border: none;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1.2rem;
    margin-top:2%;
}

.share-form-input:focus {
    outline: none;
}

.message {
    resize:none;
    height: 10rem;
}

.share-button{
    padding: 1rem;
    width: 40%;
}

.share-form {
    margin: auto;
    width: 80%;
    padding: 2% 3%;
}