.share-form-container {
    display: flex;
    flex: 1;
}

.share-form-container form {
    margin: auto;
}

.share-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    color: #B0B0C0;
}

.share-form-input {
    border: none;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1.2rem;
    margin-top:2%;
}

.share-form-input:focus {
    outline: none;
}

.share-btn {
    width: 100%;
    padding: 2% 3%;
    background-color: #FF385C;
    color: #FFFFFF;
}

.message {
    resize:none;
    width: 30rem;
    height: 10rem;
}