.share-modal-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow: hidden;
}

.share-item-list {
  display: flex;
  flex: 1;
  overflow: scroll;
}

.share-item-list div {
  margin: auto;
}

@media (max-width: 600px) {
  .share-item-list {
    display: none;
  }
}


